body {
  font-family: sans-serif;
  background: #e6f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,128,0.2);
  width: 270px;
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  background: #e6f0ff;
  border: none;
  border-radius: 6px;
}

.buttons button {
  width: 60px;
  height: 40px;
  margin: 5px 4px 0 0;
  font-size: 16px;
  background-color: #007bff;
   color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0056b3;
}

body.dark {
  background: #121212;
  color: white;
}

body.dark .calculator {
  background: #1f1f1f;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

body.dark #display {
  background: #333;
  color: white;
}

body.dark .buttons button {
  background-color: #444;
  color: white;
}
